html * { 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%; 
    -moz-box-sizing: border-box;
    margin: 0 auto;
    text-align: left;
    
}

body {
    background-color: #05386B;    
}
#main {
    padding: 3em;
}

.flex-nav {
    color: #05386B;
}

.wrapper {
    background: #EDF5E1;
}

.name {
    visibility: visible;
    text-align: center;
}

.logowrap {
    background-color: #379683;
    box-shadow: 0em 0.1em 0.1em 0em rgba(0,0,0,.1);
    display: block;
    width: 100%;
}

.flex-nav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0 auto;
    padding: 0em;
}

.flex-nav > ul > li {
    flex: 1;
    margin: 0 auto;
    padding: 0em;
    position: relative;
    transition: all linear 0.1s;
}

.flex-nav > ul > li > a {
    align-items: flex-start;
    color: #05386B;
    display: flex;
    font-size: 1.55em;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 1em 1.5em;
    text-decoration: none;
    text-shadow: 0em 0.1em 0.1em rgba(0,0,0,.1);
    transition: all linear 0.1s;
}

.sidebar {
    border-radius: 30px;
    background: #8EE4AF;
    padding: 2em;
}

.sidebar p {
    padding: 0;
    margin: 0;
}

footer {
    display: flex;
    height: 4em;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;    
}


@media all and (min-width : 1025px)
{
    .flex-nav > ul > li:hover {
        background: rgba(160, 194, 222, 1);
    }

    h2 {
        padding-bottom: 1.5em;
    }

    p {
        padding: .5em;
    }

    .content {
        display: flex;
    }

    .image {
        flex: 1;
    }

    .image img {
        padding: 0em 1em 1em 0em;
    }

    #contactcontent {
        display: flex;
    }

    #content {
        display: flex;
    }

    .text {
        flex: 2;
    }

    .sidebar {
        flex: 1;
    }

    .sidebar * {
        padding: 0em 0em 1em 1em;
    }

    .images {
        display: flex;
    }

    .bbanner {
        flex: 2;
    }

    .bbanner img {
        padding: 2em 0em 0em 0em;
    }

    


/*** iPads (portrait and landscape) ***/
@media all and (min-width : 601px) and (max-width : 1024px) 
{
    .flex-nav ul {
        flex-wrap: wrap;
    }

    .flex-nav li {
        flex: 1 1 50%;
    }

    .flex-nav > ul > li:hover {
        background: rgba(160, 194, 222, 1);
    }

    h2 {
        padding-bottom: 1.5em;
    }

    p {
        padding: .5em;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
    }

    .image {
        flex: 1;
    }

    .image img {
        padding: 0em 1em 1em 0em;
    }

    #contactcontent {
        display: flex;
        flex-wrap: nowrap;
    }

    #content {
        display: flex;
        flex-direction: column;
    }

    .text {
        flex: 2;
        order: 0;
    }

    .text img {
        padding: 2em 0em 0em 0em;
    }

    .sidebar {
        flex: 1;
        order: 1;
    }

    .sidebar * {
        padding: 0em 0em 1em 1em;
    }

    .images {
        display: flex;
        flex-direction: column;
    }

    footer {
        height: 6em;
    }
}

/*** Smartphones (portrait and landscape) ***/
@media all and (max-width : 600px) 
{ 
    #main {
        margin: 0 auto;
        padding: 0em;
    }

    .hide {
        font-size: 0.5em;
    }

    .flex-nav li {
        flex-basis: 100%;
    }

    
    .wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        padding: 0em;
    }

    
    .wrapper > * {
        order: 100;
        margin: 0 auto;
        padding: 0em;
    }

    .flex-nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100vw;
        order: 0;
        margin: 0 auto;
        padding: 2em 0em 2em 0em;
        background-color: #8EE4AF;
    }   

    .flex-nav ul {
        display: flex;
        flex-direction: column;
        max-width: 100vw;
    }

    .flex-nav ul li {
        display: flex;
        height: 2em;
    }

    .logowrap img {
        width: 100%;
        height: auto;
    }


    h2 {
        padding: 1em;
    }

    .image {
        padding: 2em 0em 0em 0em;
    }

    .image img {
        padding: 0em;
        max-width: 100%;
        height: auto;
    }

    #content {
        display: flex;
        flex-direction: column;
    }

    .text {
        flex: 2;
        order: 0;
    }

    .text img {
        padding: 2em 0em 0em 0em;
        max-width: 100%;
        height: auto;
    }

    .sidebar {
        flex: 1;
        order: 1;
    }

    .sidebar * {
        padding: 0em 1em 1em 1em;
    }

    .images {
        display: flex;
        flex-direction: column;
    }

    footer {
        height: 10em;
        margin: 0 auto;
        padding: 0.5em;
    }

    footer div {
        align-items: center;
        padding: 0.2em;
    }

}